<input class="textview" id="num1" placeholder="введите число 1" />

<input class="textview" id="num2" placeholder="введите число 2"/>
<input class="textview" id="num3" placeholder="введите знак" />



<input class="textview" id="result" readonly placeholder="результат"/><br>
<button onclick="func()">Calculate</button>

<style type="text/css">
        *{
            margin:0;
            padding:0;
        }
        body{
            background:#808080;
        }
        .calculator{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        button{
            height:50px;
            width:200px;
            margin:2px;
            border:none;
            border-radius:3px;
            background: #56a79a;
            color:#fff;
            font-size:24px;
            cursor:pointer;
        }
        button:hover{
            background:#354;
        }
        .textview{
            width:auto;
            margin:5px;
            padding:8px;
            font-size:24px;
            border:none;
            border-radius:3px;
        }
    </style>
<script>
 //выбранный оператор
  function func() {
    var result;
    var num1 = Number(document.getElementById("num1").value);
    var num2 = Number(document.getElementById("num2").value);
    var op=(document.getElementById("num3").value);
    switch (op) {
      case '+':
        result = num1 + num2;
        break;
      case '-':
        result = num1 - num2;
        break;
      case '*':
     result = num1 * num2;
        break;
      case '/':
        if (num2) {
          result = num1 / num2;
        } else {
          result = 'бесконечность';
        }
        break;
      default:
        result = 'выберите операцию';
    }

    document.getElementById("result").value = result;
  }
</script>